@import "tailwindcss";

@keyframes heartBeat {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.25)
  }
  100% {
    transform: scale(1);
  }
}

.heart {
  color: gray;
}

.heart:hover {
  animation: heartBeat 1s infinite;
}

.red-shadow:hover {
  border-radius: 50%;
  background-color: rgb(255, 0, 0, 0.4);
}